USE [master]
GO
/****** Object:  Database [ClinicDB]    Script Date: 20.08.2026 14:32:37 ******/
CREATE DATABASE [ClinicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClinicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClinicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicDB]
GO
/****** Object:  Table [dbo].[Врачи]    Script Date: 20.08.2026 14:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Врачи](
	[КодВрача] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NOT NULL,
	[Специальность] [nvarchar](100) NOT NULL,
	[Кабинет] [nvarchar](10) NULL,
	[КодОтделения] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[КодВрача] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЗаказНаряды]    Script Date: 20.08.2026 14:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЗаказНаряды](
	[КодЗаказа] [int] IDENTITY(1,1) NOT NULL,
	[КодПациента] [int] NOT NULL,
	[КодВрача] [int] NOT NULL,
	[КодУслуги] [int] NOT NULL,
	[ДатаОказания] [datetime] NOT NULL,
	[СтатусОплаты] [bit] NOT NULL,
	[Сумма] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодЗаказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отделения]    Script Date: 20.08.2026 14:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отделения](
	[КодОтделения] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодОтделения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пациенты]    Script Date: 20.08.2026 14:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пациенты](
	[КодПациента] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NOT NULL,
	[ДатаРождения] [date] NOT NULL,
	[Полис] [nvarchar](50) NULL,
	[Телефон] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодПациента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 20.08.2026 14:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[КодПользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[ПарольHash] [nvarchar](255) NOT NULL,
	[Роль] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 20.08.2026 14:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[КодУслуги] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](255) NOT NULL,
	[Цена] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодУслуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Врачи] ON 

INSERT [dbo].[Врачи] ([КодВрача], [ФИО], [Специальность], [Кабинет], [КодОтделения]) VALUES (1, N'Иванов Иван Иванович', N'Терапевт', N'101', 1)
INSERT [dbo].[Врачи] ([КодВрача], [ФИО], [Специальность], [Кабинет], [КодОтделения]) VALUES (2, N'Петрова Ольга Сергеевна', N'Терапевт', N'102', 1)
INSERT [dbo].[Врачи] ([КодВрача], [ФИО], [Специальность], [Кабинет], [КодОтделения]) VALUES (3, N'Сидоров Николай Петрович', N'Хирург', N'201', 2)
SET IDENTITY_INSERT [dbo].[Врачи] OFF
GO
SET IDENTITY_INSERT [dbo].[ЗаказНаряды] ON 

INSERT [dbo].[ЗаказНаряды] ([КодЗаказа], [КодПациента], [КодВрача], [КодУслуги], [ДатаОказания], [СтатусОплаты], [Сумма]) VALUES (30, 1, 1, 1, CAST(N'2026-06-01T10:00:00.000' AS DateTime), 1, CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[ЗаказНаряды] ([КодЗаказа], [КодПациента], [КодВрача], [КодУслуги], [ДатаОказания], [СтатусОплаты], [Сумма]) VALUES (31, 2, 3, 3, CAST(N'2026-06-01T11:30:00.000' AS DateTime), 0, CAST(600.00 AS Decimal(10, 2)))
INSERT [dbo].[ЗаказНаряды] ([КодЗаказа], [КодПациента], [КодВрача], [КодУслуги], [ДатаОказания], [СтатусОплаты], [Сумма]) VALUES (32, 3, 5, 4, CAST(N'2026-06-02T09:00:00.000' AS DateTime), 1, CAST(550.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ЗаказНаряды] OFF
GO
SET IDENTITY_INSERT [dbo].[Отделения] ON 

INSERT [dbo].[Отделения] ([КодОтделения], [Наименование]) VALUES (1, N'Терапевтическое отделение')
INSERT [dbo].[Отделения] ([КодОтделения], [Наименование]) VALUES (2, N'Хирургическое отделение')
INSERT [dbo].[Отделения] ([КодОтделения], [Наименование]) VALUES (3, N'Педиатрическое отделение')
SET IDENTITY_INSERT [dbo].[Отделения] OFF
GO
SET IDENTITY_INSERT [dbo].[Пациенты] ON 

INSERT [dbo].[Пациенты] ([КодПациента], [ФИО], [ДатаРождения], [Полис], [Телефон]) VALUES (1, N'Иванов Пётр Алексеевич', CAST(N'1995-05-15' AS Date), N'0012345678901234', N'8-900-111-22-33')
INSERT [dbo].[Пациенты] ([КодПациента], [ФИО], [ДатаРождения], [Полис], [Телефон]) VALUES (2, N'Петрова Екатерина Николаевна', CAST(N'2000-08-22' AS Date), N'0012345678901235', N'8-900-111-22-34')
INSERT [dbo].[Пациенты] ([КодПациента], [ФИО], [ДатаРождения], [Полис], [Телефон]) VALUES (3, N'Сидоров Андрей Дмитриевич', CAST(N'2012-03-10' AS Date), N'0012345678901236', N'8-900-111-22-35')
SET IDENTITY_INSERT [dbo].[Пациенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([КодПользователя], [Логин], [ПарольHash], [Роль]) VALUES (1, N'admin', N'admin123', N'Администратор')
INSERT [dbo].[Пользователи] ([КодПользователя], [Логин], [ПарольHash], [Роль]) VALUES (2, N'ivanov', N'doc123', N'Врач')
INSERT [dbo].[Пользователи] ([КодПользователя], [Логин], [ПарольHash], [Роль]) VALUES (3, N'petrova', N'doc123', N'Врач')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Услуги] ON 

INSERT [dbo].[Услуги] ([КодУслуги], [Наименование], [Цена]) VALUES (1, N'Приём терапевта первичный', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Услуги] ([КодУслуги], [Наименование], [Цена]) VALUES (2, N'Приём терапевта повторный', CAST(350.00 AS Decimal(10, 2)))
INSERT [dbo].[Услуги] ([КодУслуги], [Наименование], [Цена]) VALUES (3, N'Приём хирурга первичный', CAST(600.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Услуги] OFF
GO
/****** Object:  Index [IX_Врачи_КодОтделения]    Script Date: 20.08.2026 14:32:37 ******/
CREATE NONCLUSTERED INDEX [IX_Врачи_КодОтделения] ON [dbo].[Врачи]
(
	[КодОтделения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ЗаказНаряды_КодВрача]    Script Date: 20.08.2026 14:32:37 ******/
CREATE NONCLUSTERED INDEX [IX_ЗаказНаряды_КодВрача] ON [dbo].[ЗаказНаряды]
(
	[КодВрача] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ЗаказНаряды_КодПациента]    Script Date: 20.08.2026 14:32:37 ******/
CREATE NONCLUSTERED INDEX [IX_ЗаказНаряды_КодПациента] ON [dbo].[ЗаказНаряды]
(
	[КодПациента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ЗаказНаряды_КодУслуги]    Script Date: 20.08.2026 14:32:37 ******/
CREATE NONCLUSTERED INDEX [IX_ЗаказНаряды_КодУслуги] ON [dbo].[ЗаказНаряды]
(
	[КодУслуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__BC2217D3B94B72B6]    Script Date: 20.08.2026 14:32:37 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ЗаказНаряды] ADD  DEFAULT (getdate()) FOR [ДатаОказания]
GO
ALTER TABLE [dbo].[ЗаказНаряды] ADD  DEFAULT ((0)) FOR [СтатусОплаты]
GO
ALTER TABLE [dbo].[Врачи]  WITH CHECK ADD  CONSTRAINT [FK_Врачи_Отделения] FOREIGN KEY([КодОтделения])
REFERENCES [dbo].[Отделения] ([КодОтделения])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Врачи] CHECK CONSTRAINT [FK_Врачи_Отделения]
GO
ALTER TABLE [dbo].[ЗаказНаряды]  WITH CHECK ADD  CONSTRAINT [FK_ЗаказНаряды_Врачи] FOREIGN KEY([КодВрача])
REFERENCES [dbo].[Врачи] ([КодВрача])
GO
ALTER TABLE [dbo].[ЗаказНаряды] CHECK CONSTRAINT [FK_ЗаказНаряды_Врачи]
GO
ALTER TABLE [dbo].[ЗаказНаряды]  WITH CHECK ADD  CONSTRAINT [FK_ЗаказНаряды_Пациенты] FOREIGN KEY([КодПациента])
REFERENCES [dbo].[Пациенты] ([КодПациента])
GO
ALTER TABLE [dbo].[ЗаказНаряды] CHECK CONSTRAINT [FK_ЗаказНаряды_Пациенты]
GO
ALTER TABLE [dbo].[ЗаказНаряды]  WITH CHECK ADD  CONSTRAINT [FK_ЗаказНаряды_Услуги] FOREIGN KEY([КодУслуги])
REFERENCES [dbo].[Услуги] ([КодУслуги])
GO
ALTER TABLE [dbo].[ЗаказНаряды] CHECK CONSTRAINT [FK_ЗаказНаряды_Услуги]
GO
ALTER TABLE [dbo].[ЗаказНаряды]  WITH CHECK ADD  CONSTRAINT [CHK_ЗаказНаряды_Сумма] CHECK  (([Сумма]>=(0)))
GO
ALTER TABLE [dbo].[ЗаказНаряды] CHECK CONSTRAINT [CHK_ЗаказНаряды_Сумма]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [CHK_Пользователи_Роль] CHECK  (([Роль]='Пациент' OR [Роль]='Врач' OR [Роль]='Администратор'))
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [CHK_Пользователи_Роль]
GO
ALTER TABLE [dbo].[Услуги]  WITH CHECK ADD  CONSTRAINT [CHK_Услуги_Цена] CHECK  (([Цена]>=(0)))
GO
ALTER TABLE [dbo].[Услуги] CHECK CONSTRAINT [CHK_Услуги_Цена]
GO
USE [master]
GO
